<button *ngIf="pet != null" type="button" class="btn btn-info btn-sm" (click)="open(content)" attr.data-target="#update_product_{{pet.id}}">
<i class="glyphicon glyphicon-edit"></i> Update</button>


<button *ngIf="pet == null" type="button" class="btn btn-danger btn-sm pull-right"  (click)="open(content)">
<i class="glyphicon glyphicon-plus"></i> Add Pet</button>

<ng-template #content let-c="close" let-d="dismiss">
  
      <div class="modal-header">
        <button type="button" class="close" (click)="c('Close click')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pet Editing Form</h4>
      </div>
      
      <form [formGroup]="petForm"
            class="form-horizontal">
          
          <div class="modal-body">
              <div *ngFor="let field of formFields; let i = index"
                  class='form-group'
                  [class.has-danger]="!petForm.get(field).valid && petForm.get(field).touched"
              >
                  
                  <label attr.for="{{ field }}" class="col-sm-2 control-label">{{ field|uppercase }}</label>
                  <div class="col-xs-6">
                      <input
                        class="form-control"
                        id="{{field}}Input"
                        placeholder="Enter {{field|uppercase}}"
                        [formControl]="petForm.controls[field]">
                  </div>
                  <div *ngIf=" formHasError(field)!= null ">{{ formHasError(field) }}</div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
              <button type="button" (click)='savePet();' class="btn btn-primary" [attr.disabled] = "!petForm.valid ? '' : null">Save</button>
          </div>
      </form>
   
</ng-template>